<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Tracks</h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else tracksArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #tracksArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let track of tracks | async"
    >
      <mat-card>
        <mat-card-title>{{ track.name }}</mat-card-title>
        <div *appHasRoles="['admin']">
          <mat-card-subtitle  *ngIf="!track.is_published" >Unpublished</mat-card-subtitle>
        </div>
        <mat-card-subtitle>{{ track.duration }}</mat-card-subtitle>
        <mat-card-actions>
          <button mat-raised-button (click)="createTrackHistory(track._id)">
            PLAY
          </button>
          <div *appHasRoles="['admin']">
            <button mat-raised-button color="accent"
                    *ngIf="!track.is_published"
                    (click)="publishTrack(track._id)"
            >Publish</button>
            <button mat-raised-button color="warn" (click)="deleteTrack(track._id)">Delete</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>

