<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Track History</h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else tracksArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #tracksArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let trackHistory of tracksHistory | async"
    >
      <mat-card>
        <mat-card-title>{{ trackHistory.track.name }}</mat-card-title>
        <p>Artist: {{ trackHistory.track.album.artist.name }}</p>
        <mat-card-subtitle>{{ trackHistory.track.duration }}</mat-card-subtitle>
        <p>Time: {{ trackHistory.datetime.substr(0,10) }} {{ trackHistory.datetime.substr(11,5) }}</p>
      </mat-card>
    </div>
  </div>
</ng-template>

